.modal-container{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    transition: opacity 0.2s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  .modal-content{
    z-index: 100;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 7px;
    background-color: #f4f4f4;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    border-radius: 7px;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }

  .modal-footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  
  .modal-body{
    word-break: break-all;
    padding: 10px 20px;
    height: 300px;
    overflow-y: scroll;
    font-size: medium;
  }